amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.18
certifi==2017.11.5
chardet==3.0.4
Django==1.8.6
django-decouple==2.1
django-jet==1.0.7
django-parler==1.5.1
django-paypal==0.2.5
django-rosetta==0.8.1
feedparser==5.2.1
google-api-python-client==1.6.5
httplib2==0.10.3
idna==2.6
kombu==3.0.37
microsofttranslator==0.8
oauth2client==4.1.2
Pillow==5.0.0
polib==1.1.0
psycopg2==2.7.3.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pytz==2017.3
redis==2.10.3
requests==2.18.4
rsa==3.4.2
six==1.11.0
sorl-thumbnail==12.3
South==1.0.2
uritemplate==3.0.0
urllib3==1.22
