{% extends 'onlineshop/base.html' %}
{% load i18n %}
{% load static %}


{% block title %}
    Frequently Asked Questions
{% endblock %}


{% block content %}
    <div class="container">
			    <section class="faq">
			        <div class="container">
			            <div class="row ">
			            	<h2 class="page-title wow fadeInDown">Frequently Asked Questions<br><small> </small></h2><br>
			                <div class="col-xs-12">
			                    <h6></h6>
			                    <p>PyCon Ghana is a community conference intended for networking and collaboration in the developer community. We are governed by a formal code of conduct. Where participants are expected to contribute to an environment that is open and welcoming, considerate and respectful.</p><br>
			                </div>
			            </div>

			            <div class="row">
			                <div class="col-md-6 wow fadeInLeft" data-wow-duration="2s">
			                    <h4 class="faq-title">How can I get to the venue?</h4>
			                    <p>The map and Contact details are listed within the contact information.You will also receive a confirmation email with location map.</p>
			                    <h4 class="faq-title">What about accommodation?</h4>
			                    <p>The cost of the hotel accommodation and travel is not included in the event fee. For corporate accommodation rate, please contact us directly.</p>
			                </div>
			                <div class="col-md-6 wow fadeInRight" data-wow-duration="2s">

			                    <h4 class="faq-title">What payment types do you accept?</h4>
			                    <p>All payments are processed via EventBrite. You may also pay at the time of event. But please reserve your seat by contacting us directly.</p>

			                    <h4 class="faq-title">Can I get a refund on my tickets?</h4>
			                    <p>Yes you can, although all tickets refunds would be 60% of the price unless the event is cancelled by us, in which case we will always make a full refund.</p><br><br>

			                    <p>You can contact <b><a href="mailto:webmaster@eshopper.com">webmaster@eshopper.com</a></b> for further inquiries.</p>

			                </div>
			            </div>
			        </div>
			    </section>

	        </div>

{% endblock %}