{% extends "onlineshop/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}{% trans "Products" %}{% endif %}
{% endblock %}

{% block content %}

    <section id="advertisement">
		<div class="container">
			<img src="{% static 'img/advertisement3.jpg' %}" alt="" />
		</div>
	</section>


    	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
                	<div class="left-sidebar">
						<h2>{% trans "Categories" %}</h2>
                                <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                                    <div class="panel panel-default">
                                     <div class="panel-heading">
                                            <h4 {% if not category %}{% endif %} class="panel-title"><a href="{% url "onlineshop:product_list" %}">{% trans "All Products" %}</a></h4>
                                        </div>
                                     {% for c in categories %}
								       <div class="panel-heading">
									<h4  {% if category.slug == c.slug %}{% endif %} class="panel-title">
                                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a></h4>
								</div>
                                     {% endfor %}
							</div>
                        </div><!--/category-productsr-->
                        <br /><br />

                    <script type="text/javascript" src="//ra.revolvermaps.com/0/0/6.js?i=0lf22sjdrl1&amp;m=7&amp;c=e63100&amp;cr1=ffffff&amp;f=arial&amp;l=0&amp;bv=90&amp;lx=-420&amp;ly=420&amp;hi=20&amp;he=7&amp;hc=a8ddff&amp;rs=80" async="async"></script>

                        <br /><br /><br/>
						<div class="price-range"><!--price-range-->
							<h2>{% trans "Price Range" %}</h2>
							<div class="well">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
								 <b>$ 0</b> <b class="pull-right">$ 600</b>
							</div>
						</div><!--/price-range-->

                       <br /><br />

						<div class="shipping text-center"><!--shipping-->
							<img src="{% static 'img/shipping.jpg' %}" alt="" />
						</div><!--/shipping-->
                    </div>
                </div>

            <div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_products-->
						<h2 class="title text-center">{% if category %}{{ category.name }}{% else %}{% trans "ALL PRODUCTS" %}{% endif %}</h2>
						  {% for product in products %}
                        <div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
                                          <a href="{{ product.get_absolute_url }}">
                                              <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                                          </a>
										<h2>${{ product.price }}</h2>
                                        <p><strong><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></strong></p>
									</div>

								</div>


							</div>
						</div>
                    {% endfor %}

             <br />

            </div>
        </div>
            </div>
        </div>
        </section>

{% endblock %}