{% extends "onlineshop/base.html" %}
{% load i18n %}
{% load static %}



{% block title %}
    {% if category %}{{ category.title }}{% else %}{% trans "Products" %}{% endif %}
{% endblock %}

{% block content %}
    <div id="content">
    <div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}
                        {% static "img/no_image.png" %}
                  {% endif %}">
        <h1>{{ product.name }}</h1>
        <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
        <p class="price">${{ product.price }}</p>
        <form action="{% url "cart:cart_add" product.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <input type="submit" value="{% trans "Add to cart" %}">
        </form>
        <br />
        <p><b>{% trans "Availability" %}:</b> {{ product.available }}</p>
        <p><b>{% trans "Stock" %}:</b> {{ product.stock }}</p>
        <p><b>{% trans "Condition" %}:</b> New</p>
        <br />
        <p><b>{% trans "Product Details" %}:</b>{{ product.description|linebreaks }}</p>
    </div>
    </div>

    <br/>
    {% if recommended_products %}
    <div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">{% trans "People who bought this also bought" %}</h2>
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">
                                 {% for p in recommended_products %}
									<div class="col-sm-4">
										<div class="product-image-wrapper1">
											<div class="single-products">
												<div class="productinfo text-center">
													 <a href="{{ p.get_absolute_url }}">
                                                         <img src="{% if p.image %}{{ p.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"></a>
													<h2>${{ product.price }}</h2>
													<p><strong><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></strong></p>
												</div>
											</div>
										</div>
									</div>
                                     {% endfor %}
								</div>

								<div class="item">
                                {% for p in recommended_products %}
									<div class="col-sm-4">
										<div class="product-image-wrapper1">
											<div class="single-products">
												<div class="productinfo text-center">
													 <a href="{{ p.get_absolute_url }}">
                                                         <img src="{% if p.image %}{{ p.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"></a>
													<h2>${{ product.price }}</h2>
													<p><strong><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></strong></p>
												</div>
											</div>
										</div>
									</div>
                                {% endfor %}

								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>
						</div>
					</div><!--/recommended_items-->
{% endif %}

    <center><div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
                                {% with reviews.count as total_reviews %}
								<li class="active"><a href="#reviews" data-toggle="tab">{% trans "Product Reviews" %}({{ total_reviews }})</a></li>
                                {% endwith %}
							</ul>
						</div>


							<div class="tab-pane fade active in" id="reviews" >
								<div class="col-sm-12">
									{% for review in reviews %}
                                    <ul>
										<li><a href=""><i class="fa fa-user"></i>{{ review.name }}</a></li>
										<li><a href=""><i class="fa fa-clock-o"></i>{{ review.time }}</a></li>
										<li><a href=""><i class="fa fa-calendar-o"></i>{{ review.date }}</a></li>
									</ul>
									<p>{{ review.body|linebreaks }}</p>
                                      {% empty %}
                                        <p>{% trans "There are no reviews yet." %}</p>
									{% endfor %}
                                    {% if new_review %}
                                            <h2>{% trans "Your review has been added." %}</h2>
                                    {% else %}
                                        <br />
                                    <p><b>{% trans "Write Your Review" %}</b></p>

                                        <form action="{% url 'onlineshop:product_detail' id=product.id slug=product.slug %}" method="POST" name="review_form">
                                        {% csrf_token %}
										<span>
											<input type="text" placeholder="{% trans "Your Name" %}" name="name"/>
											<input type="email" placeholder="{% trans "Email Address" %}" name="email"/>
										</span>
										<textarea name="review" placeholder="{% trans "Your Review" %}"></textarea>
										<input type="submit" name="submit" value="{% trans "Submit" %}">
									</form>
                                {% endif %}
								</div>
							</div>

						</div>
                    </div><!--/category-tab-->
</center>


    <section id="advertisement">
		<div class="container">
			<img src="{% static 'img/advertisement2.jpg' %}" alt="" />
		</div>
	</section>


{% endblock %}