{% extends "onlineshop/base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Thank you" %}
{% endblock %}

{% block content %}
    <center><div class="jumbotron">
    <h1 class="display-3">{% trans "Thank you" %}</h1>
        <p class="lead">
            {% trans "Your Order has been successfully completed. An email confirmation has been sent to you." %}
            {% trans "Your order number is" %} <strong>{{ order.id }}</strong>.</p>
        <br />
        <h4>{% blocktrans with total_cost = order.get_total_cost %}The Total amount of your Order is ${{ total_cost }}{% endblocktrans %}</h4>

        <br />
        <p class="lead">Your Order will be shipped to:
            <br />
            { order.first_name }} {{ order.last_name }}
            <br />
            {{ order.address }},
            <br />
            {{ order.city }},
            <br />
            {{ order.state_region }}
            <br />
            {{ order.country }}, {{ order.postal_code }}.

        </p>
    </div>
    </center>
{% endblock %}

