{% extends 'onlineshop/base.html' %}
{% load i18n %}
{% load static %}


{% block title %}
    Refund Policy
{% endblock %}


{% block content %}
         <div class="container">
    			<div class="row ">
                    <h2 class="page-title wow fadeInDown">Privacy Policy</h2><br>
                    <div class="col-xs-12">
                        <h3>Information we collect</h3>
                        <p>
    						We collect names, email addresses, twitter handles, github handle and, if you’re a speaker, sometimes phone numbers.
                        </p>

                        <br>

                        <h4>What we do with this information</h4>
                        <p>We take privacy very seriously. We use your contact information to send updates
                        and conference related info to attendees. We may use your phone number if you’re
                        a speaker and we’re trying to find you before your talk. Information may be
                        shared with third-party vendors conducting business on behalf of the conference.
                        Information may also be shared in accordance with our <a href="/coc/">code of conduct</a> as deemed necessary by conference staff. It is not
                        used for any other purpose, nor is it given or sold to any other party,
                        including other attendees or sponsors.</p>

                        <p>Feel free to contact <a href="mailto:webmaster@eshopper.com">webmaster@eshopper.com</a>
                        for details involving privacy.</p>

                    </div>
                </div>
        </div>
{% endblock %}