{% extends 'onlineshop/base.html' %}


{% block title %}About Us{% endblock %}

{% block content %}
            <div class="container">

    			<div class="row ">
                        <h2 class="page-title wow fadeInDown">About<br><small>What is E-Shopper.</small></h2><br>

                        <div class="col-xs-15">
                            <p>PyCon Ghana is a community conference intended for networking and collaboration in the developer community. We are governed by a formal code of conduct. Where participants are expected to contribute to an environment that is open and welcoming, considerate and respectful.<br><br>
                            The conference would be covering many topics. There would be a diverse speaker list, and some things which will be quite different. Pycon Ghana attracts developers of various backgrounds and skill levels from Ghana and beyond. Activities include two full days of talks, lightning talk sessions, and a social event.</p>
                            <p>All communication should be appropriate for a general audience, which will include people from many different backgrounds.</p><br><br>

                        </div>
                </div>
            </div>
{% endblock %}