{% extends 'onlineshop/base.html' %}
{% load i18n %}

{% block title %}{% trans "Email Sent" %}{% endblock %}

{% block content %}
    <br />
    <div class="container" id="contain">

    <center>
        <div class="jumbotron">
        <h1 class="display-3">{% trans "Message Sent" %}</h1>
      <p class="lead">
           {% trans "Your Message was sent successfully ! We will get back to you as soon as possible. Thank You !!" %}
        </p>
        <p><a class="btn btn-lg btn-success" href="{% url 'home:home' %}" role="button">{% trans "Go Back To HomePage" %}</a></p>
      </div>
      </center>
    </div>

{% endblock %}>