{% extends "onlineshop/base.html" %}
{% load i18n %}

{% load static %}

{% block title %}
    {% trans "Canceled Payment" %}
{% endblock %}

{% block content %}
       <center>
        <div class="jumbotron">

            <h1 class="display-3">{% trans "Your payment has not been processed" %}</h1>
            <p class="lead">{% trans "There was a problem processing your payment." %}</p>
        </div>
       </center>

         <br /><br /><br /><br /><br /> <br /><br /><br /><br /><br />

    <section id="advertisement">
		<div class="container">
			<img src="{% static 'img/advertisement3.jpg' %}" alt="" />
		</div>
	</section>
{% endblock %}