{% extends "onlineshop/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Successful Payment" %}
{% endblock %}

{% block content %}
    <center>
        <div class="jumbotron">

            <h1 class="display-3">{% trans "Your payment was successful" %}</h1>
            <p class="lead">{% trans "Your payment has been successfully received." %}</p>
       </div>
    </center>

             <br /><br /><br /><br /><br /> <br /><br /><br /><br /><br />

    <section id="advertisement">
		<div class="container">
			<img src="{% static 'img/advertisement2.jpg' %}" alt="" />
		</div>
	</section>
{% endblock %}
